<form class="new-comment card" id="new-comment">
  <div class="card-header">Add New Comment</div>
  <div class="new-comment-body">
    <div>
      <input class="form-input" type="text" id="comment-body" />
    </div>
    <div>
      <button type="submit" class="btn" id="comment-btn">Add Comment</button>
    </div>
  </div>
</form>

<script src="/js/comment.js"></script>