{{#if post.length}}
  <section class="card">
    <div class="card-header">Your Posts</div>
    <div class="post-body">
      <ul class="post-list">
        {{#each post}}
          <a href="/dashboard/edit/{{id}}">
            <li class="post-list-item">
              <div>{{title}}</div>
              <div>{{format_date date_created}}</div>
            </li>
          </a>
        {{/each}}
      </ul>
    </div>
  </section>
{{/if}}