<section class="card hide" id="create-post-card">
  <div class="card-header">Create New Post</div>
  <div class="card-body">
    <form class="new-post-form">
      <div>
        <label for="post-title" class="form-label">Title</label>
        <input
          class="form-input"
          id="post-title"
          type="text"
          placeholder="Enter Title"
          name="title"
        />
      </div>
      <div>
        <label for="post-content" class="form-label">Post Text</label>
        <input
          class="form-input"
          id="post-content"
          type="text"
          placeholder="Start Here"
          name="content"
        />
      </div>
      <button type="submit" class="btn">Submit Post</button>
    </form>
  </div>

</section>
<div class="center">
  <button id="add-post-btn">Create New Post</button>
</div>

<script src="./js/new.js"></script>