:root {
  --primary: #ccdad1;
  --secondary: #2e8d3c;
  --tertiary: #686868;
  --light-dark: #059f21;
  --dark: #025710;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}
